/* Base styles for header */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px; /* Add padding for spacing */
}

img {
  max-width: 300px; /* Set the maximum width to your desired size */
  height: auto;
  margin-left: 70px; /* Increase the right margin for shifting */
  margin-bottom: 20px;
  transition: max-width 0.2s ease, margin-left 0.2s ease; /* Add transition effect */
}

/* Mobile styles */
@media (max-width: 798px) {
  /* Adjustments for mobile devices */
  img {
    max-width: 200px; /* Reduce the maximum width for smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
    transition: max-width 0.2s ease, margin-left 0.2s ease; /* Add transition effect */
  }
}
