/* Updated styles for navbar */
.navbar-container {
  margin-left: auto;
  margin-right: 5%;
  margin-top: -5px; /* Adjust the top margin to push it up */
}

.navbar-nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-nav-links li {
  margin-right: 25px;
}

.navbar-nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  font-family: "karla", "sans-serif";
}

.navbar-nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

/* Hamburger styles */
.navbar-hamburger {
  display: none; /* Hide hamburger by default */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 1120px) {
  .navbar-container {
    margin-right: 5%;
    padding: 10px;
  }

  .navbar-hamburger {
    display: block; /* Display hamburger in mobile view */
  }

  .navbar-nav-links {
    display: none; /* Initially hide the navigation links */
    flex-direction: column;
  }

  .navbar-nav-links.active {
    display: flex; /* Display the navigation links when active */
  }

  .navbar-nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
